.main {
  max-width: 850px;
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

  /* margin-left: auto;
     margin-right auto;
     Is a trick for centering an element horizontally
     without needing a container. */
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 25px;
}

.orders-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}

.order-header {
  background-color: rgb(240, 242, 242);
  border: 1px solid rgb(213, 217, 217);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 25px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.order-header-left-section {
  display: flex;
  flex-shrink: 0;
}

.order-header-label {
  font-weight: 500;
}

.order-date,
.order-total {
  margin-right: 45px;
}

.order-header-right-section {
  flex-shrink: 1;
}

@media (max-width: 575px) {
  .order-header {
    flex-direction: column;
    align-items: start;
    line-height: 23px;
    padding: 15px;
  }

  .order-header-left-section {
    flex-direction: column;
  }

  .order-header-label {
    margin-right: 5px;
  }

  .order-date,
  .order-total {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-right: 0;
  }

  .order-header-right-section {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.order-details-grid {
  padding: 40px 25px;
  border: 1px solid rgb(213, 217, 217);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  display: grid;
  grid-template-columns: 110px 1fr 220px;
  column-gap: 35px;
  row-gap: 60px;
  align-items: center;
}

@media (max-width: 800px) {
  .order-details-grid {
    grid-template-columns: 110px 1fr;
    row-gap: 0;
    padding-bottom: 8px;
  }
}

@media (max-width: 450px) {
  .order-details-grid {
    grid-template-columns: 1fr;
  }
}

.product-image-container {
  text-align: center;
}

.product-image-container img {
  max-width: 110px;
  max-height: 110px;
}

.product-name {
  font-weight: 700;
  margin-bottom: 5px;
}

.product-delivery-date {
  margin-bottom: 3px;
}

.product-quantity {
  margin-bottom: 8px;
}

.buy-again-button {
  font-size: 15px;
  width: 140px;
  height: 36px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-again-icon {
  width: 25px;
  margin-right: 15px;
}

.product-actions {
  align-self: start;
}

.track-package-button {
  width: 100%;
  font-size: 15px;
  padding: 8px;
}

@media (max-width: 800px) {
  .buy-again-button {
    margin-bottom: 10px;
  }

  .product-actions {
    /* grid-column: 2 means this element will be placed
       in column 2 in the grid. (Normally, the column that
       an element is placed in is determined by the order
       of the elements in the HTML. grid-column overrides
       this default ordering). */
    grid-column: 2;
    margin-bottom: 30px;
  }

  .track-package-button {
    width: 140px;
  }
}

@media (max-width: 450px) {
  .product-image-container {
    text-align: center;
    margin-bottom: 25px;
  }

  .product-image-container img {
    max-width: 150px;
    max-height: 150px;
  }

  .product-name {
    margin-bottom: 10px;
  }

  .product-quantity {
    margin-bottom: 15px;
  }

  .buy-again-button {
    width: 100%;
    margin-bottom: 15px;
  }

  .product-actions {
    /* grid-column: auto; undos grid-column: 2; from above.
       This element will now be placed in its normal column
       in the grid. */
    grid-column: auto;
    margin-bottom: 70px;
  }

  .track-package-button {
    width: 100%;
    padding: 12px;
  }
}

.order-container {
  background-color: #f1f3f6;
}

.order-container .card {
  background-color: white;
  height: 100px;
  gap: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-container .card a {
  width: 100%;
}

.order-container .card .card-img {
  width: 50%;
}

.order-container .order {
  background-color: white;
}

.address {
  padding-bottom: 10px;
}

.order-container .order img {
  width: 120px;
  height: 80px;
}

.order-container .order-details {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.order-container .order .shipment-status {
  width: 60%;
}

/* .ant-timeline {
  display: flex;
  flex-direction: row;
}

.ant-timeline-item-tail {
  border-bottom: 1px solid black;
} */

.order .order-status {
  display: flex;
  gap: 5%;
}

.order .order-status-line {
  display: flex;
  margin-left: 40px;
}

.order .order-status-line div {
  display: flex;
  flex-direction: row;
}
.order .order-status-line .dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(11, 160, 3);
}

.order .order-status-line div div {
  padding-bottom: 15px;
}
.order .order-status-line .line {
  width: 110px;
  border-bottom: 3px solid rgb(11, 160, 3);
  margin-bottom: 10px;
}

.order-container .single-order {
  display: flex;
  flex-direction: row;
}

.order-container .single-order .card-img {
  width: 20%;
}
.order-container .single-order .card-body {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.order-container .card-body .card-price {
  color: #1455ac;
}

.order-container .single-order .card-img img {
  width: 120px;
  height: 80px;
  margin-top: 9px;
  transition: transform 0.6s ease;
}

.order-container .single-order .card-img img:hover {
  transform: scale(1.2);
  transition: transform 0.6s ease;
}

.order .card {
  width: 40% !important;
}

.vertical-shipment-status {
  display: none;
}
@media screen and (max-width: 786px) {
  .shipment-status {
    display: none;
  }
  .order-container .order .card {
    width: 60% !important;
    /* height: 100px !important; */
  }
  .vertical-shipment-status {
    display: block;
  }

  .ant-timeline {
    height: 135px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 576px) {
  .order-container .single-order .card-img {
    width: 30%;
  }
  .order-container .single-order .card-body {
    width: 35%;
  }
}
