.store {
  position: relative;
  display: flex;
}

.store-right-part {
  width: 80%;
  margin-left: 10px;
}

.store-left-part {
  width: 20%;
  background-color: white;
}

.store-right-part .filter-sort-grid {
  width: 100% !important;
}
.store-middle-right-part {
  display: none;
}

.price-available-option {
  width: 100%;
  border-radius: 10px;
  height: 30px;
}

.to {
  text-align: center;
}

.our-store-product-card div a {
  display: flex;
  flex-direction: column;
  border: 2px rgb(231, 230, 230) solid;
}

.our-store-product-card div a .product-details {
  margin-top: 220px;
  margin-left: 20%;
}

.our-store-product-card {
  gap: 5px;
}

.store .store-left-part .select {
  width: 100%;
  padding: 10px;
  border: 1px solid #1455ac;
  border-radius: 5px;
  color: rgb(130, 128, 128);
}

.price-filter-box {
  display: flex;
}

.price-filter-box input {
  width: 46%;
  padding: 5px;
  border: 1px solid #1455ac;
  border-radius: 5px;
}

.price-filter-box span {
  margin: 5px 5px 0px 5px;
}

.close-menu {
  display: none;
}

.price-filter-box svg {
  font-size: 40px;
  background-color: #1455ac;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 2px;
}
@media screen and (max-width: 1000px) {
  .store-right-part {
    width: 100%;
  }

  .store .store-left-part {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    width: 40%;
  }

  .close-menu {
    display: block;
    text-align: end;
    cursor: pointer;
  }

  .price-available-option {
    padding-left: 20%;
  }
  .store .close-filter-menu {
    display: none;
  }
  .layout-selector .fourProduct {
    display: none !important;
  }
  .store .store-top-right-part {
    margin-left: 10px;
    text-align: center;
  }
  .store-middle-right-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .store-middle-right-part img {
    width: 30px;
    cursor: pointer;
  }

  .open-filter {
    background-color: #1455ac;
    color: white;
    cursor: pointer;
    border-radius: 20px;
  }
}

@media screen and (max-width: 500px) {
  .layout-selector {
    display: none !important;
  }

  .store .store-left-part {
    width: 65%;
  }
}
