.card {
  height: 250px;
  text-align: center;
}

.card-img-top img {
  max-width: 330px;
  height: 140px;
  transition: transform 0.6s ease;
  padding-top: 10px;
}

.card-img-top img:hover,
.card-img-top img:focus,
.card-img-top img:active {
  transform: scale(1.08);
  transition: transform 0.6s ease;
}
.product-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;
}

.card-body .card-title {
  color: black;
}

.card-body .card-text {
  color: #1455ac !important;
}

@media screen and (min-width: 992px) {
  .col-lg-3 {
    width: 24%;
    margin-left: 10px;
  }

  .card-img-top img {
    max-width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 778px) {
  .col-md-4 {
    width: 31%;
    margin-left: 10px;
  }
}
@media screen and (max-width: 576px) {
  .card-img-top img {
    max-width: 160px;
    margin-left: -8px;
  }

  .col-6 {
    width: 48%;
    margin-left: 5px;
  }
}
