.home-container {
  background-color: #f1f3f6;
}

.home-container .container-xxl {
  background-color: white !important;
  padding: 50px 20px 50px 20px !important;
  border-radius: 5px;
  margin-bottom: 30px;
}

/* .best-top-selling .container-xxl {
  margin-left: 130px !important;
} */

.container-padding {
  padding: 10px 0px 10px 0px;
}
.home-container-1 {
  display: flex;
  flex-direction: row;
}

.home-container-1 div:first-child {
  margin-right: 2px;
}

.main-banner-content-2 {
  display: flex;
  flex-direction: column;
}

.main-banner-content-2 div:first-child {
  margin-bottom: 6px;
}
.inner-container {
  display: flex;
  flex-direction: row;
}

.inner-container div:first-child {
  margin-right: 5px;
}

.home-container-2 div div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}
.home-container-2 div div div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 42px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -2px;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: var(--color-131921);
}

.small-banner-content {
  top: 25%;
  left: 10%;
  right: 40%;
}
.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.small-banner-content h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -2px;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: var(--color-131921);
}

.services {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.special-product-slider .product-card {
  width: 99%;
}

.best-top-selling {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.best-top-selling {
  padding-left: 20px;
}
.best-top-selling .best-selling-single-product {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  cursor: pointer;
}

.best-top-selling .best-selling-single-product img {
  width: 100px !important;
  height: 80px !important;
  padding-top: 7px;
  transition: transform 0.6s ease;
}

.best-top-selling .best-selling-single-product .card-body {
  width: 65%;
}

.best-top-selling .best-selling-single-product .card-img {
  width: 30%;
}

.best-top-selling .best-selling-single-product img:hover,
.best-top-selling .best-selling-single-product img:focus,
.best-top-selling .best-selling-single-product img:active {
  transform: scale(1.2);
  transition: transform 0.6s ease;
}

/* .new-arrival {
  background-color: #e1d4f6;
} */
@media screen and (min-width: 576px) and (max-width: 700px) {
  .best-top-selling .best-selling-single-product .card-body {
    width: 60%;
  }
  .best-top-selling .best-selling-single-product .card-img {
    width: 40%;
  }
}
@media screen and (min-width: 577px) and (max-width: 1000px) {
  .services div {
    width: 50%;
    margin-top: 5px;
  }

  .home-container-1 {
    display: flex;
    flex-direction: column;
  }
  .home-container-1 div {
    display: flex !important;
  }
  .home-container-1 div {
    margin-bottom: 5px;
  }
  .home-container-2 div div div {
    display: flex;
    flex-direction: column !important;
  }

  .main-banner-content {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .main-banner-content h5 {
    font-size: 35px;
  }

  .main-banner-content p {
    font-size: 16px;
  }

  .small-banner-content {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .small-banner-content p {
    display: none;
  }

  .main-banner-content-2 div:first-child {
    margin-bottom: 3px;
  }

  .button {
    width: 70%;
    text-align: center;
  }

  .best-top-selling {
    flex-direction: column;
  }

  .best-top-selling .best-selling-single-product {
    border: 1px solid #c1cee1;
    border-radius: 5px;
    width: 48%;
    margin-left: 10px;
  }

  .--fw-thin {
    font-size: 26px;
    font-weight: 400;
  }

  .--btn {
    font-size: 26px;
    font-weight: 400;
  }
}

@media screen and (max-width: 576px) {
  .main-banner-content p {
    display: none;
  }

  .main-banner-content h5 {
    margin-top: 45px;
  }

  .small-banner-content h5 {
    display: none;
  }

  .best-top-selling {
    flex-direction: column;
  }

  .best-top-selling .best-selling-single-product {
    border: 1px solid #c1cee1;
    border-radius: 5px;
    width: 98%;
  }

  .--fw-thin {
    font-size: 20px;
    font-weight: 400;
  }

  .--btn {
    font-size: 20px;
    font-weight: 400;
  }
}
