.checkout {
  display: flex;
  flex-direction: row;
}

.checkout .address {
  width: 60%;
  margin-left: 10px;
}

.checkout .product-details {
  width: 40%;
  padding-right: 5px;
}

/* .checkout .product-details div {
  padding: 0 2px;
} */

@media screen and (max-width: 1000px) {
  .checkout {
    flex-direction: column;
  }
  .checkout .address,
  .checkout .product-details {
    width: 100%;
    margin-left: 0;
  }

  .checkout .address {
    margin-top: 10px;
  }
}
