.header-container {
  position: sticky;
  background-color: #ebeef2;
  top: -45px;
  z-index: 1001;
}

.header-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-section select {
  background-color: #ebeef2;
  border: none;
  width: 100px;
}

.header-top-section select:focus {
  outline: none;
}

.header-top-strip p,
.header-top-strip a {
  color: black;
}

.header-upper {
  background-color: var(--color-131921);
}

.header-bottom {
  background-color: var(--color-0c6efd);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px, solid, var(--color-3b4149);
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
}

.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}

.new-header-container {
  position: sticky;
  background-color: #ebeef2;
  top: -18px;
  z-index: 1001;
}

.language-selector select {
  cursor: pointer;
}

.container-1 {
  padding-left: 0px !important;
}

.logo h2 span {
  color: orange;
}

.pop-up-search-bar {
  display: flex;
  position: fixed;
  flex-direction: column;
  max-width: 100% !important;
  /* min-width: none !important; */
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  height: 10rem;
  padding: 30px 10px;
  transform: translateY(0);
  transition: 0.5s all;
  background-color: #85aed7;
  z-index: 999;
}

.cross-sign {
  margin-bottom: 20px;
}
/* .pop-up-search-bar:first-child {
  margin-bottom: 20px !important;
} */

.close-search-bar-icon {
  cursor: pointer;
}

.search-bar-icon {
  display: none;
}

.hide-search-icon {
  display: none;
}

.close-search-bar {
  transform: translateY(-500%);
  transition: 1s all;
}

.open-search-bar {
  transform: translateY(0);
}

.pop-up-search-bar span {
  background-color: #ebeef2;
}

.menu-bar {
  display: none;
}

.header {
  position: relative;
  display: flex;
  height: 6rem;
  padding: 1rem 0px;
  align-items: center;
}
.new-header {
  position: relative;
  justify-content: space-between;
  display: flex;
  height: 6rem;
  padding: 1rem 0px;
  align-items: center;
}

.header-middle-section {
  margin-left: 25px;
  margin-right: 25px;
  width: 78%;
}
.header-last-section {
  width: 22%;
}

.input-bar {
  padding: 10px 40px 10px 16px !important;
}
.links {
  display: flex;
}

.header-right-options,
.cart-container,
.login-container,
.register-container,
.wishlist-container,
.logout-container {
  position: relative;
  background-color: rgb(220, 215, 215) !important;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  cursor: pointer;
}
/* .header .header-last-section .links div {
  position: relative;
  background-color: rgb(220, 215, 215) !important;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  cursor: pointer;
} */

.cart-container,
.login-container,
.register-container,
.wishlist-container,
.login-container {
  display: flex !important;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.tooltip-cart,
.tooltip-login,
.tooltip-register,
.tooltip-wishlist,
.tooltip-logout {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 8px 6px;
  border-radius: 2px;
  font-family: Roboto, Arial;
  font-size: 12px;
  bottom: -38px;
  left: 10px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1;
}

.cart-container:hover .tooltip-cart,
.login-container:hover .tooltip-login,
.register-container:hover .tooltip-register,
.wishlist-container:hover .tooltip-wishlist,
.logout-container:hover .tooltip-logout {
  opacity: 1;
}

.links button {
  position: absolute;
}

.links .icons {
  color: #1455ac !important;
  font-size: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.links a {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 50px;
}

.cart,
.wishlist {
  position: relative;
}

.cart span,
.links a span {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: red;
  color: white;
  top: -5px;
  left: 35px;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.25rem;
}

.header-top-strip {
  padding-bottom: 0px !important;
}

.header-top-strip .shipping-text {
  font-size: 16px;
  padding-left: 0px !important;
}

.header-top-strip .contact-number {
  padding-right: 5px !important;
}

.hide-menu {
  display: none;
}

@media screen and (min-width: 1000px) and (max-width: 1250px) {
  .header-middle-section {
    width: 70% !important;
  }

  .header-last-section {
    width: 30% !important;
  }
}
@media screen and (max-width: 1000px) {
  .header-middle-section {
    transform: translateY(-500%);
  }

  .header-bottom {
    display: none;
  }

  .links {
    justify-content: end;
  }
  .middle-header,
  .top-header {
    background-color: #ebeef2;
  }
  /* .header {
    justify-content: flex-end !important;
  } */
  .header-last-section {
    width: 80% !important;
  }

  .search-bar-icon {
    display: flex !important;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .tooltip-search {
    position: absolute;
    background-color: gray;
    color: white;
    padding: 8px 6px;
    border-radius: 2px;
    font-family: Roboto, Arial;
    font-size: 12px;
    bottom: -38px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    z-index: 1;
  }

  .search-bar-icon:hover .tooltip-search {
    opacity: 1;
  }
  .search-bar-icon {
    display: flex;
  }

  .login-container,
  .register-container,
  .wishlist-container,
  .logout-container {
    display: none !important;
  }
  .menu-bar {
    display: flex;
    position: relative;
    background-color: rgb(220, 215, 215) !important;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
  }

  .close-menu-icon {
    text-align: end;
    color: #1455ac;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
  }
  .hide-menu {
    transform: translateY(-200%);
    /* transition: transform 10s ease; */
  }

  .show-menu {
    position: fixed;
    background-color: white;
    top: 0;
    height: 100vh;
    width: 30%;
    left: 0;
    transform: translateX(0);
    z-index: 999;
  }

  .header-last-section {
    width: 41% !important;
  }
}

@media screen and (max-width: 460px) {
  .header-container {
    top: -10%;
  }

  .header-last-section {
    width: 50% !important;
  }

  .show-menu {
    width: 50%;
  }
  .login-container,
  .register-container {
    display: none !important;
  }

  .menu-bar {
    display: flex;
  }

  /* .cart-container {
    width: 60px;
  } */
  .menu-bar .icons {
    color: #1455ac !important;
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 16px;
    cursor: pointer;
  }
  .cart .icons {
    color: #1455ac !important;
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 14px;
    cursor: pointer;
  }
  /* .pop-up-search-bar {
    width: 450px;
  } */
  .tooltip-cart,
  .tooltip-login,
  .tooltip-register,
  .tooltip-wishlist,
  .tooltip-logout,
  .tooltip-search {
    display: none;
  }
}
