.footer-top span {
  cursor: pointer;
}

/* .footer .container-xxl {
  background-color: #1455ac !important;
} */
@media screen and (max-width: 464px) {
  .footer-top {
    display: flex !important;
    flex-direction: column;
  }

  .footer-top div {
    width: 100%;
    margin-bottom: 10px;
  }
}
