.main-product-wrapper {
  padding-bottom: 10px;
}

.product-summary {
  display: flex;
  flex-direction: row;
}

.product-summary .product-img-box {
  width: 50%;
  background-color: white;
  cursor: pointer;
  position: sticky;
  top: 132px;
  height: 100vh;
}

.product-img {
  display: flex;
  flex-direction: row;
}

.main-product-image {
  width: 80%;
  cursor: pointer;
  align-items: center;
  margin: 10px;
}

.main-product-image img {
  max-height: 380px;
  max-width: 100%;
}

.product-other-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-left: 5px;
  width: 20%;
}

.product-other-img img {
  max-width: 100%;
  height: 80px;
}

.product-img .product-detail-summary {
  width: 50%;
  background-color: white;
}

.product-summary .product-details,
.product-description,
.product-review {
  padding: 10px 20px;
  background-color: white;
  /* border-radius: 10px; */
}

.product-summary .product-details h3.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1c1b1b);
  margin-bottom: 10px;
  cursor: pointer;
}
.product-summary .product-details p.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}

.product-summary .product-details a.review,
.t-review {
  color: var(--color-777777);
  font-size: 13px;
  cursor: pointer;
}

.description-wrapper h4,
.reviews-wrapper h3 {
  font-size: 26px;
  color: #1c1b1b;
  margin-bottom: 10px;
}

.description-wrapper p {
  font-size: 14px;
  color: var(--color-777777);
}
.review-inner-wrapper {
  background-color: white;
}

.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.review-head h4 {
  font-size: 18px;
  color: var(--color-1c1b1b);
}

.review-head p,
.review-head a {
  font-size: 14px;
  color: var(--color-777777);
}

.review-form h4 {
  font-size: 16px;
  color: var(--color-777777);
}

.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review p {
  font-size: 14px;
  color: var(--color-777777);
}

.product-recommendation {
  margin-top: 10px;
  background-color: white;
}

.main-product-details {
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px;
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.main-product-details h3.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1c1b1b);
  margin-bottom: 10px;
}
.main-product-details p.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-product-details a.review,
.t-review {
  color: var(--color-777777);
  font-size: 13px;
}

.product-heading {
  font-size: 14px;
  color: var(--color-1c1b1b);
  margin-bottom: 0px;
}

.product-data {
  font-size: 13px;
  color: var(--color-777777);
  margin-bottom: 0px;
  cursor: pointer;
}

.main-product-details a {
  font-size: 14px;
  color: var(--color-777777);
}

.product-size span {
  cursor: pointer;
}

.product-quantity {
  display: flex;
  align-items: center;
}

.js-image-zoom__zoomed-area {
  width: 50px !important;
  height: 50px !important;
}

.submit-review {
  width: 200px;
}

.buy-product {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 464px) {
  .product-summary .product-img-box {
    max-height: 450px;
  }

  .product-img {
    flex-direction: column;
  }

  .main-product-image {
    order: 1;
    width: 100%;
    height: 270px;
    padding: 10px;
    margin: 0;
  }

  .main-product-image img {
    max-width: 100%;
    max-height: 100%;
  }

  .product-other-img {
    order: 2;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
  }

  .product-other-img img {
    max-width: 68px;
  }
}

@media (min-width: 464px) and (max-width: 1000px) {
  .product-summary .product-img-box {
    height: 580px;
  }
}
@media screen and (max-width: 1000px) {
  .popular-product {
    margin: 0 0 !important;
  }

  .product-summary {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  .product-summary .product-img-box {
    position: static;
    width: 100%;
  }

  .product-detail-summary {
    width: 100%;
  }

  .other-product-img-box {
    display: flex;
  }
}
