.brand {
  margin-top: 5px;
  margin-bottom: 0px;
}

.carouselItem .react-stars {
  padding-left: 30%;
}

.special-product .product-star {
  margin-left: 90px;
}

.special-product {
  border: none !important;
}
